/* From Uiverse.io by nathann09 */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  top:30px;
  height:100px;
  width:100px;
  left:30px;
  border-radius: 100px;
  position:fixed;
  font-weight: bold;
  display:flex;
  justify-content: space-between;
}

.login:hover{
  cursor:pointer;
  text-decoration:none;
}
.form {
  background-color: transparent;
  border: 2px solid rgba(225, 225, 225, .2);
  box-shadow: 0 0 10px rgba(147, 147, 147, 0.468);
  backdrop-filter: blur(10px);
  display: block;
  color:#fff;
  padding: 2rem;
  max-width: 350px;
  border-radius: 0.52rem;
}

.form-title {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input,
.form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
  color: #05c61c;
}


.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.265);
}

.checkbox p{
  display: flex;
  position: absolute;
  margin-left: 50px;
}

.age_checkbox {
  appearance: none;
  width: 22px;
  aspect-ratio: 1;
  border-radius: 8px;
  border: 2px solid black;
  position: relative;
  transition: all 0.2s ease-in-out;
  margin-top: 14px;
}

.age_checkbox::before {
  font-family: "Quicksand", sans-serif;
  position: absolute;
  bottom: -4px;
  left: 1px;
  content: "✔";
  font-size: 27px;
  color: #05c61c;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.age_checkbox:checked::before {
  animation: zoom 0.5s ease-in-out;
  transform: scale(1);
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1.5);
  }

  40% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.checkbox p{
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
}
/* register-button */

.Register {
  cursor: pointer;
  position: relative;
  padding: 10px 28px;
  font-size: 18px;
  color: #05c61c;
  border: 2px solid #05c61c;
  border-radius: 34px;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
}
.Register a{
  text-decoration:none;
  color:#000
}
.Register a:hover{
  color:#fff;
}
.reg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Register::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #05c61c;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.Register:hover::before {
  scale: 3;
}

.Register:hover {
  color: #000000;
  scale: 1.1;
  box-shadow: 0 0px 20px #05c61c;
}

.Register:active {
  scale: 1;
}

.signup-link {
  font-family: 'Arial', Helvetica, sans-serif;
  color: #6B7280;
  font-size: 1.1rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
