* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #e4e4e4;
}
.logo{
    top:30px;
    position:fixed;
    font-weight: bold;
    left:40px;
    text-decoration:none;
    color:#fff;
}
.container {
    max-width: 1000px;
    margin: 40px auto;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:30px;
}

.logo {
    font-size: 20px;
    color: gray;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    text-align: center;
    flex-grow: 1;
}

.terms-box h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.terms-box ol {
    margin-left: 20px;
}

.terms-box li {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 1.6;
}

.terms-box ul {
    margin-top: 10px;
    margin-left: 20px;
}

.checkbox {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.checkbox input {
    margin-right: 10px;
}

.checkbox label {
    font-size: 15px;
}